/*========================================
=            Reponsive mixins            =
========================================*/
/*=============================
=            Paths            =
=============================*/
/*===============================
=            Colours            =
===============================*/
/*=============================
=            Fonts            =
=============================*/
/*=============================
=            Sizes            =
=============================*/
/*=========================================
=            Margin & Paddings            =
=========================================*/
/*=====================================
=            Media queries            =
=====================================*/
/*=================================
=            Reponsive            =
=================================*/
/* line 1, C:/wamp/www/neralind-mockup/sass/base/_responsive.scss */
.r-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.r-container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  /* line 1, C:/wamp/www/neralind-mockup/sass/base/_responsive.scss */
  .r-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 1, C:/wamp/www/neralind-mockup/sass/base/_responsive.scss */
  .r-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 1, C:/wamp/www/neralind-mockup/sass/base/_responsive.scss */
  .r-container {
    width: 1170px;
  }
}

/* line 19, C:/wamp/www/neralind-mockup/sass/base/_responsive.scss */
.r-row {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  *zoom: 1;
}

@font-face {
  font-family: "Quicksand";
  src: url(/font/quicksand-light-webfont.eot);
  src: url(/font/quicksand-light-webfont.eot?#iefix) format('embedded-opentype'), url(/font/quicksand-light-webfont.woff) format('woff'), url(/font/quicksand-light-webfont.ttf) format('truetype'), url(/font/quicksand-light-webfont.svg) format('svg');
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: url(/font/quicksand-light-webfont.eot);
  src: url(/font/quicksand-light-webfont.eot?#iefix) format('embedded-opentype'), url(/font/quicksand-light-webfont.woff) format('woff'), url(/font/quicksand-light-webfont.ttf) format('truetype'), url(/font/quicksand-light-webfont.svg) format('svg');
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url(/font/quicksand-light-webfont.eot);
  src: url(/font/quicksand-light-webfont.eot?#iefix) format('embedded-opentype'), url(/font/quicksand-light-webfont.woff) format('woff'), url(/font/quicksand-light-webfont.ttf) format('truetype'), url(/font/quicksand-light-webfont.svg) format('svg');
  font-weight: 900;
}

/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, C:/wamp/www/neralind-mockup/sass/base/_body.scss */
body {
  background: #15161a;
  color: white;
}

/*===========================
=            All            =
===========================*/
/* line 4, C:/wamp/www/neralind-mockup/sass/base/_typo.scss */
html {
  font-size: 100%;
}

/* line 8, C:/wamp/www/neralind-mockup/sass/base/_typo.scss */
body {
  font: 1em/1.42857 "Quicksand", "Arial", "sans-serif";
  letter-spacing: -.05em;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

/*==============================
=            Titles            =
==============================*/
/* line 20, C:/wamp/www/neralind-mockup/sass/base/_typo.scss */
h1, h2,
.h1, .h2 {
  text-transform: uppercase;
}

/*=============================
=            Links            =
=============================*/
/* line 37, C:/wamp/www/neralind-mockup/sass/base/_typo.scss */
a {
  color: #9287a5;
  text-decoration: none;
}
/* line 40, C:/wamp/www/neralind-mockup/sass/base/_typo.scss */
a:hover {
  color: #776a8f;
  text-decoration: underline;
}

/*==================================
=            Paragraphs            =
==================================*/
/* line 11, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
input, select, textarea {
  padding: 10px 13px;
  border: 1px solid #24262c;
  outline: 0;
  background: #191a1e;
  color: #8c8c8c;
  font-family: inherit;
  vertical-align: middle;
}
/* line 22, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
input:hover, select:hover, textarea:hover {
  color: #a3a3a3;
}
/* line 26, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
input:active, input:focus, input.selected, select:active, select:focus, select.selected, textarea:active, textarea:focus, textarea.selected {
  color: #b3b3b3;
}

/* line 49, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
input[type=submit], input[type=button], button, .btn {
  display: inline-block;
  padding: .85em 1.5em;
  border: 0;
  background-color: #2e2937;
  -webkit-box-shadow: inset 1px -5px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px -5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px -5px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fcfcfc;
  text-transform: lowercase;
  cursor: pointer;
  /*
    form.search &, &.search, &.browse {
      padding: 0;
      width: 38px;
      height: 38px;
      //border: 1px solid @color-btn-primary-border;
      border-left: 0;
      margin-left: -5px;
      font-weight: 300;
      font-size: 1.7em;
    }
  
    form.search &, &.search {
      text-indent: -9999px;
      .sprite(search, 28px, 3px, 4px);
    }*/
}
/* line 63, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
input[type=submit]:hover, input[type=submit]:focus, input[type=button]:hover, input[type=button]:focus, button:hover, button:focus, .btn:hover, .btn:focus {
  background-color: #353040;
  outline: none;
}
/* line 68, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
input[type=submit]:active, input[type=submit].selected, input[type=button]:active, input[type=button].selected, button:active, button.selected, .btn:active, .btn.selected {
  background-color: #353040;
  -webkit-box-shadow: inset 1px 5px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

/* line 91, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
.btn-light {
  background-color: #463f54 !important;
}

/* line 95, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
.btn-search {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 38px;
  width: 38px;
}

/* line 101, C:/wamp/www/neralind-mockup/sass/base/_form.scss */
label {
  cursor: pointer;
}

/*================================
=            l-header            =
================================*/
/* line 4, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header {
  height: 130px;
  background: #2e2937;
}

/* line 9, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header-logo {
  display: block;
  float: left;
  line-height: 130px;
}
/* line 15, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header-logo img {
  max-height: 65px;
  vertical-align: middle;
}

/*==============================
=            l-menu            =
==============================*/
/* line 24, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header-menu {
  float: right;
}

/*==============================
=            l-form            =
==============================*/
/* line 31, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header-form {
  float: right;
  line-height: 130px;
}

/* line 36, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header-menu-list {
  vertical-align: middle;
}

/* line 41, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
.l-header-menu-item a {
  color: white;
}

@media (min-width: 768px) {
  /* line 46, C:/wamp/www/neralind-mockup/sass/layout/_l-header.scss */
  .l-header-menu-item-menu {
    display: none;
  }
}

/* line 1, C:/wamp/www/neralind-mockup/sass/layout/_l-footer.scss */
.l-footer {
  background: #2e2937;
  padding: 30px 0;
}
